<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/appicon"
        android:label="Hear Me Out"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication55">
        <activity
            android:name=".Intro3_Activity"
            android:exported="false" />
        <activity
            android:name=".Intro2_Activity"
            android:exported="false" />
        <activity
            android:name=".Intro1_Activity"
            android:exported="false" />
        <activity
            android:name=".HandwritingActivity"
            android:exported="false" />
        <activity
            android:name=".WeatherActivity"
            android:exported="false" />
        <activity
            android:name=".NumbersActivity"
            android:exported="false" />
        <activity
            android:name=".ColorsActivity"
            android:exported="false" />
        <activity
            android:name=".PlacesActivity"
            android:exported="false" />
        <activity
            android:name=".PeopleActivity"
            android:exported="false" />
        <activity
            android:name=".ActionsActivity"
            android:exported="false" />
        <activity
            android:name=".EmotionsActivity"
            android:exported="false" />
        <activity
            android:name=".FoodActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdultActivity" />
        <activity android:name=".ChildActivity" />
    </application>

</manifest>